<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Annuaire des étudiants</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />


    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" aria-current="page" href="{{ url_for('Accueil') }}">Accueil</a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="navbar-brand" aria-current="page" href="{{ url_for('list_students') }}">Liste</a>
              </li>
              <li class="nav-item">
                <a class="navbar-brand" aria-current="page" href="{{ url_for('add_student') }}">Ajouter</a>
              </li>
              <li class="nav-item">
                <a class="navbar-brand" aria-current="page" href="{{ url_for('login') }}">Login</a>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Entrer le Prenom" aria-label="Recherche">
              <a 
              <button class="btn btn-outline-success" type="submit">Recherche</button> 
              </a> 
              </form>
          </div>
        </div>
      </nav>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
  
    {% block content %}
    <style>
      body {
        background-image: url("static/image/2.jpg");
       background-repeat:no-repeat;
       background-size:cover;
      } 
      </style>

    <div class="jumbotron p-3">
      <div class="well text-center">
        <h1>Bienvenue dans l'annuaire des étudiants</h1>
      </div>
      </div>
    <div class="jumbotron p-3">
      <div class="well text-center">
        <h2> Ici, vous pourrez : </h2>
    <p>Ici, vous pourrez :</p>
        <ul>
          <h3> Voir la liste de tous les étudiants </h3>
          <H3> Ajouter un nouvel étudiant </H3>
          <H3> Modifier les informations d'un étudiant </H3>
          <H3> Supprimer un étudiant</H3>
            <li>Voir la liste de tous les étudiants</li>
            <li>Ajouter un nouvel étudiant</li>
            <li>Modifier les informations d'un étudiant</li>
            <li>Supprimer un étudiant</li>
            <H3> Ajouter un nouvel étudiant </H3>
          <H3> Modifier les informations d'un étudiant </H3>
          <H3> Supprimer un étudiant</H3>
        </ul>
        <li><a href="{{ url_for('list_students') }}">Voir la liste des étudiants</a></li>
        <li><a href="{{ url_for('login') }}">Already have an account? Log In</a></li>
      </div>
      </div>
           
        {% endblock content %} 
</body>
</html>
